### 딕셔너리
- 딕셔너리명={key:value,key:value,...}
- key에는 변하지 않는 값을 사용, value에는 변하는 값과 변하지 않는 값 모두 사용 할 수 있다.
- 순서는 중요하지 않음

In [1]:
csb={"이름":"홍길동","나이":20,"키":168}

class1_4={"이름":["홍길동","김철수","최영희"],
          "나이":[20,21,22],
          "키":[168,177,204]}

In [2]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [4]:
class1_4["발사이즈"]=[290,275,240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발사이즈': [290, 275, 240]}

In [5]:
del class1_4["발사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [6]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [7]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [8]:
for i in class1_4:
    print(i)

이름
나이
키

In [9]:
1 in [1,2,3,4]

True

In [10]:
"홍길동" in class1_4

False

### class1_4의 "이름"key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
- 홍길동>길동
- 김철수>철수
- 김영희>영희

In [19]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [20]:
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [21]:
class1_4["이름"]=["길동","철수","영희"]
class1_4
#데이터가 많으면 for 문으로 일괄처리하는게 효율적

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [22]:
new_name=[]
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"]=new_name
class1_4

{'이름': ['동', '수', '희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [23]:
jegop=[]
for i in range(10):
    jegop.append(i**2)
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
jegop=[i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 dictionary로 구성되어 있다.

In [36]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
- scores에 학생들의 과목별 수학, 영어, 국어 평균 성적을 기록한 "성적" 정보를 추가해주세요.
- 예)수학평균:(99+55+67)/3

In [37]:
# scores["홍길동"]=["수학"]
for i in scores:
    print(scores[i]["수학"])

99
55
67

In [40]:
math=0
eng=0
kor=0
for i in scores:
    math=math+scores[i]["수학"]
    eng=math+scores[i]["영어"]
    kor=math+scores[i]["국어"]
scores["평균점수"]={"국어":kor/len(scores),"영어":eng/len(scores),"수학":math/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균점수': {'국어': 97.54166666666667,
  '영어': 97.16666666666667,
  '수학': 73.66666666666667}}

In [41]:
dirty = 73.66666666
round(dirty)

74

In [42]:
import math

In [44]:
math.ceil(dirty)

74

In [45]:
math.floor(dirty)

73

In [46]:
round(dirty,2)

73.67

In [47]:
int(1.6)

1