#### Pandas 라이브러리
- 데이터를 excel표처럼 만들어줌 
- 데이터를 직관적으로 보기 위해서 사용
- 1차원 배열 형태의 구조 : Series -> 인덱스+값
- 2차원 배열 형태의 구조 : DataFrame ->행과 열을 가지는 표와 같은 형태, 서로 다른 종류의 자료형 저장 가능
- 인덱싱과 슬라이싱 가능

In [2]:
import pandas as pd #pandas 모듈을 가져오고 앞으로 pd라고 사용할꺼야

In [3]:
population = pd.Series([9668465,3391946,2942828,1450062])
population

0    9668465
1    3391946
2    2942828
3    1450062
dtype: int64

In [5]:
population = pd.Series([9668465,3391946,2942828,1450062],     #인덱스 변경
                      index=['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [6]:
#Series값 확인
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [7]:
#Series 인덱스 확인
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [9]:
#Series 타입 확인
population.dtype

dtype('int64')

In [10]:
#Series에 이름 지정
population.name = '인구'
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [11]:
population/1000000

도시
서울    9.668465
부산    3.391946
인천    2.942828
광주    1.450062
Name: 인구, dtype: float64

In [13]:
population[1],population['부산']

(3391946, 3391946)

In [16]:
population[3],population['광주']

(1450062, 1450062)

In [18]:
population[[0,3,1]]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [20]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [21]:
population>=2500000  #Boolean 형태로 가져오고

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [22]:
population[population>=2500000]  #조건식안의 data값 가져옴

도시
서울    9668465
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [23]:
population[population>=3000000]

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

In [26]:
population[(population>=2500000) & (population<=5000000)]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [27]:
population[1:3]     #population['부산':'인천'] 문자열은 그냥 고대로 지정

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

##### 딕셔너리 객체로 series생성

In [28]:
data ={'피카츄':9631,'꼬부기':3393,'파이리':1490,'이상해씨':2632}

In [29]:
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [31]:
data2 = {'피카츄':9904,'꼬부기':3448,'이브이':2466,'뮤':2890}

In [32]:
pokemon_up = pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [33]:
attack = pokemon_up - pokemon
attack
#넘파이는 data가 안맞으면 계산 자체를 안하지만, serise는 있는건 하고 없는건 null값으로 나옴

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [34]:
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [35]:
attack[attack.notnull()] # True값만 나타내는 데이터들만 보고싶어 attack[attack>0]

꼬부기     55.0
피카츄    273.0
dtype: float64

In [36]:
rp = (attack/pokemon)*100
rp

꼬부기     1.620984
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.834597
dtype: float64

In [37]:
rp[rp.notnull()]

꼬부기    1.620984
피카츄    2.834597
dtype: float64

In [38]:
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [39]:
#Series 데이터 갱신, 추가, 삭제 가능
attack['파이리']=1616
attack['리자몽']=8888
del attack['이상해씨']

In [40]:
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64

In [41]:
attack.notnull()

꼬부기     True
뮤      False
이브이    False
파이리     True
피카츄     True
리자몽     True
dtype: bool

In [42]:
attack.isnull() #null값인 데이터만 보고싶어!

꼬부기    False
뮤       True
이브이     True
파이리    False
피카츄    False
리자몽    False
dtype: bool

In [43]:
attack[attack.isnull()]

뮤     NaN
이브이   NaN
dtype: float64