### 맛집 이름, 평점

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
from tqdm import tqdm
from selenium.webdriver.common.keys import Keys

In [7]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://map.kakao.com/")
driver.maximize_window()

In [8]:
click_blue = driver.find_element_by_css_selector('body > div.coach_layer.coach_layer_type1 > div > div > div > span')
click_blue.click()

In [9]:
search = driver.find_element_by_css_selector('#search\.keyword\.query')

In [10]:
search.send_keys('맛집')
search.send_keys(Keys.ENTER)
time.sleep(1)

In [11]:
#장소 더보기
more = driver.find_element_by_css_selector('#info\.search\.place\.more')
more.click()
time.sleep(2)

In [ ]:
#name = driver.find_elements_by_css_selector('a.link_name')
#star = driver.find_elements_by_css_selector('span.score > em')

In [ ]:
#title = driver.find_elements_by_css_selector('strong.tit_name>a.link_name')
#rating = driver.find_elements_by_css_selector('span.score > em')

### 페이지 넘어가기

In [12]:
title_list=[]
rating_list=[]

while True :
    try:
        for i in range(1,6):
            page = driver.find_element_by_css_selector('#info\.search\.page\.no{}'.format(i))
            page.click()
            time.sleep(1)
    
            #장소
            title = driver.find_elements_by_css_selector('strong.tit_name>a.link_name')
            #별점
            rating = driver.find_elements_by_css_selector('span.score > em')

            for i in title:
                title_list.append(i.text)
            for i in rating:
                rating_list.append(i.text)
            time.sleep(2)

        more = driver.find_element_by_css_selector('#info\.search\.page\.next')
        more.click()
        time.sleep(2)
    except:
        break

In [13]:
len(title_list),len(rating_list)

(500, 500)

In [14]:
data={'상호명':title_list,'평점':rating_list}

In [16]:
store=pd.DataFrame(data)
store

              상호명   평점
0            오징어야  3.9
1            노량해전  3.6
2        다독이네숯불구이  4.8
3            운봉산장  4.3
4         골든볼9 본점  3.2
..            ...  ...
495  좌충우돌닭강정 노량진점  5.0
496         정가네밥상  4.0
497         까르페디엠  3.4
498      하하코식당여의도  3.8
499           해운대  2.3

[500 rows x 2 columns]

In [17]:
store = store.sort_values(by=['평점'], ascending = False)
store.reset_index(drop=True)

            상호명   평점
0    스마일명품찹쌀꽈배기  5.0
1           섬마을  5.0
2    신전떡볶이 노량진점  5.0
3           야마토  5.0
4    자담치킨 노량진1점  5.0
..          ...  ...
495      로지노돈부리
496          마루
497     오꼬노미스토리
498       두꺼비식당
499    벚꽃스시 상도점

[500 rows x 2 columns]