In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 17, 8
rcParams['font.family'] ='AppleGothic'

In [2]:
test=pd.read_csv('Traffic_Accident_2017.csv',encoding='euc-kr')
print(test)

       발생년      발생년월일시  발생분  주야 요일  사망자수  사상자수  중상자수  경상자수  부상신고자수  ...  \
0     2017  2017010101   15  야간  일     1     2     1     0       0  ...
1     2017  2017010102   28  야간  일     1     1     0     0       0  ...
2     2017  2017010102   43  야간  일     1     2     0     1       0  ...
3     2017  2017010102   22  야간  일     1     1     0     0       0  ...
4     2017  2017010104   37  야간  일     1     1     0     0       0  ...
...    ...         ...  ...  .. ..   ...   ...   ...   ...     ...  ...
4060  2017  2017123118   10  야간  일     1     4     1     0       2  ...
4061  2017  2017123118   25  야간  일     1     1     0     0       0  ...
4062  2017  2017123119   55  야간  일     1     1     0     0       0  ...
4063  2017  2017123120   40  야간  일     1    11     1     9       0  ...
4064  2017  2017123123   15  야간  일     1     1     0     0       0  ...

     도로형태_대분류   도로형태 당사자종별_1당_대분류  당사자종별_1당 당사자종별_2당_대분류 당사자종별_2당 발생위치X_UTMK  \
0         단일로  기타단일로          승용차       승용차          승용차      승용차     933501
1         교차로  교차로부근          승용차       승용차          보행자      보행자     967570
2         단일로  기타단일로          승용차       승용차          승용차      승용차     916497
3         단일로  기타단일로          승용차       승용차           없음       없음     961608
4         단일로  기타단일로          승용차       승용차          보행자      보행자     946778
...       ...    ...          ...       ...          ...      ...        ...
4060      단일로  기타단일로          화물차       화물차          화물차      화물차    1044531
4061      단일로  기타단일로     원동기장치자전거  원동기장치자전거           없음       없음    1160683
4062      단일로  기타단일로          화물차       화물차           없음       없음    1067639
4063      단일로  기타단일로          승용차       승용차          승용차      승용차     961004
4064      단일로  기타단일로          이륜차       이륜차          보행자      보행자     995304

     발생위치Y_UTMK          경도         위도
0       1700129  126.768634  35.294464
1       1944453  127.133107  37.498741
2       1842880  126.566631  36.580069
3       1864573  127.069759  36.778505
4       1941695  126.898094  37.472946
...         ...         ...        ...
4060    1682838  127.988833  35.139774
4061    1704380  129.267745  35.322087
4062    1980346  128.268522  37.820351
4063    1987481  127.056525  37.886331
4064    1814453  127.447679  36.327435

[4065 rows x 27 columns]

In [4]:
test.columns

Index(['발생년', '발생년월일시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [13]:
test[['경도','위도']]

              경도         위도
0     126.768634  35.294464
1     127.133107  37.498741
2     126.566631  36.580069
3     127.069759  36.778505
4     126.898094  37.472946
...          ...        ...
4060  127.988833  35.139774
4061  129.267745  35.322087
4062  128.268522  37.820351
4063  127.056525  37.886331
4064  127.447679  36.327435

[4065 rows x 2 columns]